<div class="index">
 <img src="/images/beer.png" alt="beer"><br>
 <button type="button" class="btn btn-primary"><a href="/beers">Check the Beers!</a>
 </button>
 <br>
 <br>
 <button type="button" class="btn btn-primary"><a href="/random-beers">Check a Random Beer</a>
 </button>
 
</div>